<h1>Gerer Depenses</h1>
<router-outlet></router-outlet>
<h3 *ngIf="depensesIdToUpdate; else create"> 
   Update Depenses for Id: {{depensesIdToUpdate}}
</h3>
<ng-template #create>
   <h3> Create New Depenses </h3>
</ng-template>
<div>
 <form [formGroup]="depensesForm" (ngSubmit)="onDepensesFormSubmit()">
  <table>
	<tr><td>Client:</td><td>
					<select formControlName="client">
						<option selected disabled value="">Select Client</option>
						<option *ngFor="let titre of allClients" [value]="titre">
							{{titre}}
						</option>
					</select>
					<label *ngIf="depensesForm.get('client').invalid && processValidation" [ngClass] = "'error'"> Client  is required. </label>				
					<button type= button (click)="buttonCreateClient()">Create new Client</button>
	</td></tr>
	<tr><td *ngIf="!descCatDepText">Categorie depenses:</td><td *ngIf="descCatDepText">Titre Categorie depenses:</td><td><!-- <input formControlName="titreCatDepenses" list="exampleList"> -->
					<!-- <datalist  id="exampleList"> -->
					<select *ngIf="!descCatDepText" formControlName="titreCatDepenses">
						<option selected disabled value="">Select Categorie depenses</option>
						<option *ngFor="let titre of allCatDepenses" [value]="titre">
							{{titre}}
						</option>
					</select>
					<label *ngIf="!descCatDepText && depensesForm.get('titreCatDepenses').invalid && processValidation" [ngClass] = "'error'"> Categorie Depenses  is required. </label>					
					<input *ngIf="descCatDepText" formControlName="titreCatDepensesEng">
					<label *ngIf="depensesForm.get('titreCatDepensesEng').invalid && processValidation && descCatDepText" [ngClass] = "'error'"> Categorie Depenses  is required. </label>
					<label *ngIf="descCatDepText">Description Categorie Depenses</label>
					<input *ngIf="descCatDepText" formControlName="descCatDep">
					<label *ngIf="depensesForm.get('descCatDep').invalid && processValidation && descCatDepText" [ngClass] = "'error'"> Description Depenses  is required. </label>
					<!-- </datalist> -->
					<button (click)="buttonCreateCatDep()" *ngIf="!descCatDepText">Create new Categorie Depenses</button>
	</td></tr>
    <tr><td>Titre Depenses</td><td><input formControlName="titreDep">
	       <label *ngIf="depensesForm.get('titreDep').invalid && processValidation" [ngClass] = "'error'"> Titre is required. </label>
    </td></tr>
    <tr><td>Type Depenses</td><td>
					<select formControlName="typeDepenses">
						<option selected disabled value="">Select Types Depenses</option>
						<option>
							Facturée
						</option>
						<option>
							non Facturée
						</option>
					</select>
	       <label *ngIf="depensesForm.get('typeDepenses').invalid && processValidation" [ngClass] = "'error'"> Typeis required. </label>
    </td></tr>
	<tr><td>Valeur</td><td><input type = number formControlName="valeur">
	       <label *ngIf="depensesForm.get('valeur').invalid && processValidation" [ngClass] = "'error'"> number is required. </label>
    </td></tr>
	<tr><td>Description Depenses</td><td><input formControlName="descriptionDep">
	       <label *ngIf="depensesForm.get('descriptionDep').invalid && processValidation" [ngClass] = "'error'"> Description  is required. </label>
    </td></tr>
	<tr><td>author</td><td><input formControlName="author">
	       <label *ngIf="depensesForm.get('author').invalid && processValidation" [ngClass] = "'error'"> Name is required. </label>
    </td></tr>
	<tr><td></td><td><input type="file"
							ngFileSelect
							[options]="options"
							(change)="fileEvent($event)" 
							(onUpload)="handleUpload($event)"
							(beforeUpload)="beforeUpload($event)">
 
							<!-- drag & drop file example-->
							<style>
								.file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
							</style> 
							<div ngFileDrop
							[options]="options"
							(change)="fileEvent($event)"
							(onUpload)="handleUpload($event)"
							[ngClass]="{'file-over': hasBaseDropZoneOver}"
							(onFileOver)="fileOverBase($event)"
							(beforeUpload)="beforeUpload($event)">
							</div>
						Response: {{ uploadFile | json }}</td></tr>
    <tr><td colspan="2">
	    <button *ngIf="!depensesIdToUpdate">CREATE</button>  
		<button *ngIf="depensesIdToUpdate">UPDATE</button>  
	    <button (click)="backToCreateDepenses()" *ngIf="depensesIdToUpdate">Go Back</button>  
    </td></tr>
  </table>
 </form> 
 <br/>
 <div *ngIf="statusCode; else processing">
   <div *ngIf="statusCode === 201" [ngClass] = "'success'">
	 Depenses added successfully.
   </div>   
   <div *ngIf="statusCode === 409" [ngClass] = "'success'">
        Depenses already exists.
   </div>   	
   <div *ngIf="statusCode === 200" [ngClass] = "'success'">
        Depenses updated successfully.
   </div>   	      
   <div *ngIf="statusCode === 204" [ngClass] = "'success'">
        Depenses deleted successfully.
   </div>   	   
   <div *ngIf="statusCode === 500" [ngClass] = "'error'">
        Internal Server Error.
   </div>   	
 </div>
 <ng-template #processing>
	<img *ngIf="requestProcessing" src="assets/load.gif">
 </ng-template>
</div>
<h3>Depenses Details</h3>
<table>
  <tr>
	<th> Id</th> 
	<th>Titre</th>
	<th>Type Depenses</th>
	<th>valeur</th>
	<th>Description</th>
	<th>Categorie Depenses</th>
	<th>author</th>
	<th>Client</th>
	<th></th><th></th>
  </tr>
  <tr *ngFor="let depenses of allDepenses" >
        <td *ngIf="depenses.author==idUser">{{depenses.idDepenses}}</td>
		<td *ngIf="depenses.author==idUser">{{depenses.titreDep}}</td> 
		<td *ngIf="depenses.author==idUser">{{depenses.typeDepenses}}</td>
		<td *ngIf="depenses.author==idUser">{{depenses.valeur}}</td>
		<td *ngIf="depenses.author==idUser">{{depenses.descriptionDep}}</td>
		<td *ngIf="depenses.author==idUser">{{depenses.catDepenses.titreCatDep}}</td>
		<td *ngIf="depenses.author==idUser">{{depenses.author}}</td>
		<td *ngIf="depenses.clientDep && depenses.author==idUser">{{depenses.clientDep.nomClient}}</td>
		<td *ngIf="!depenses.clientDep && depenses.author==idUser">null</td>
	<td *ngIf="depenses.author==idUser"><button type="button" (click)="loadDepensesToEdit(depenses.idDepenses)">Edit</button> </td> 
	<td *ngIf="depenses.author==idUser"><button type="button" (click)="deleteDepensesById(depenses.idDepenses)">Delete</button></td>
  </tr>
</table> 